<h1>Leads</h1>
<p-table [value]="leads" stripedRows>
  <ng-template #header>
    <tr>
        <th [width]="'5%'">View</th>
        <th [width]="'15%'">Name</th>
        <th [width]="'7%'">Email</th>
        <th [width]="'15%'">Phone</th>
        <th [width]="'38%'">Subject</th>
        <th [width]="'20%'">Created</th>
    </tr>
</ng-template>
<ng-template #body let-lead>
  <tr>
      <td><p-button icon="pi pi-eye" (onClick)="showLeadDetailDialog(lead)"></p-button></td>
      <td>{{ lead.contact.lastName + ', ' + lead.contact.firstName }}</td>
      <td>{{ lead.contact.email }}</td>
      <td>{{ lead.contact.phoneNumber }}</td>
      <td>{{ lead.subject }}</td>
      <td>{{ formatDate(lead.createdDate) }}</td>
  </tr>
</ng-template>
</p-table>

<p-dialog
  header="Lead Detail"
  [modal]="true"
  [(visible)]="showLeadDetail"
  position="top"
  [style]="{ width: '80%' }">
  <app-lead-detail [lead]="lead"></app-lead-detail>
</p-dialog>